* {
    margin: 0;
    border: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: black;
}

.contacts {
    position: relative;
    height: 700px;
    background-image: url("../assets/contacts/bg.png");
    background-position: center center;
}

.contacts-form {
    position: absolute;
    top: 60px;
    right: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.contacts-form__header {
    margin-bottom: 40px;
}

.contacts-form__email {
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 20px;
    border: 2px solid;
    padding-left: 18px;
}

.contacts-form__tel {
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 18px;
}

.contacts-form__message {
    box-sizing: border-box;
    height: 100px;
    margin-bottom: 30px;
    padding: 10px 0 0 18px;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 150px;
    padding: 50px 20px;
    color: white;
}

.footer-links-list {
    display: flex;
    flex-direction: row;
}


.footer-links-list__item {
    list-style-type: none;
}
